*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
Deployment/
.tmp/
/Output/A*
/Output/*
/Source/Az.Absence.Api/Upload*
/Source/Az.Absence.Api/Logs/*
/Source/Az.Absence.DevUi/wwwroot/debug.log
/Source/Az.AccountManagement.Api/Logs/*
/Source/Az.Identity/keys/*
/Source/Az.Identity/AspIdUsers.db
*.db-shm
*.db-wal
